.logInCard {
     width: 300px;
     height: 350px;
     // border: 1px solid black;
     border-radius: 15px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
     position: absolute;
     right: 50%;
     bottom: 50%;
     transform: translate(50%, 50%);

     a {
          font-size: 13px;
     }

     .logInHeader {
          color: rgb(61, 139, 139);
          // text-align: center;
          padding: 10px;
          font-size: 20px;
          text-align: center;
     }

     .formField {
          padding: 15px;

          .formInput {
               width: 200px;
          }
     }

     .formForget {
          display: flex;
          justify-content: space-evenly;
          padding: 15px;

          span {
               padding: 10px;
          }
     }

     .formSignup {
          display: flex;
          justify-content: space-evenly;
          padding: 15px;
     }

     .formSubmitButton {
          text-align: center;

          .btn {
               width: 150px;
               background-color: #3e76b9;
               border: 1px solid white;
          }
     }

     .showError {
          color: Red;
          font-size: 12px;
          padding: 15px;
     }
}