.sidebarStyle {
     background-color: rgb(205, 139, 179);
     height: calc(100vh - 70px);
     margin: 10px;

     a {
          text-decoration: none;
          color: rgb(238, 234, 11);
          font-weight: bold;
          display: block;
          padding: 10px;
          text-align: center;
     }
}